table{width:100%;
    height: 98vh}

    tr, td{
        width: 80px;
        height: 80px;
    }

#Logo2{text-align: center;}
#Carro{text-align: center;}
#Barra{text-align: center;}
#Entrar{text-align: center;}
#teclado{text-align: center;}
#fitadois{text-align: center;}
#mini{text-align: center;}
#monito{text-align: center;}
#imagao{text-align: center;}
#cooler{text-align: center;}
#Tarefa{text-align: center;}



.primeiralinha{
    background-color: #E3E3E3;
}